<% provide(:title, "お墓を探す") %>

<h1>お墓を探す</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= search_form_for @search do |f| %>
      <%= f.label :topic_search_id_eq, "お墓IDを入力" %>
      <%= f.text_field :topic_search_id_eq, placeholder: "お墓IDを入力", class: "form-control" %>

      <%= f.submit "お墓を探す", class: 'btn btn-primary' %>
    <% end %>

    <% if @result.any? && @result.count == 1 %>
      <% @result.each do |r| %>
        <h3><%= link_to r.topic_search_id, topic_path(r) %></h3>
      <% end %>
    <% elsif @notice.present? %>
      <p><%= @notice %></p>
    <% end %>
  </div>




</div>
