<h4>お墓ページ</h4>

<% if your_status? %>
  <% if your_status.status == 0 %>
    <h4>あなたはこのお墓の管理者です。</h4>
    <%= render 'layouts/topic' %>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <p><%= link_to "お墓の編集をする（管理者のみ）", edit_topic_path(@topic) %></p>
        <p><%= link_to "お墓登録者の一覧をみる（管理者のみ）", topic_users_path(@topic) %></p>
        <!-- :controller => "topics", :action => "users_index" -->

      </div>
    </div>


  <% elsif your_status.status == 1 %>
    <h4>あなたはこのお墓の訪問者です。</h4>
    <%= render 'layouts/topic' %>
  <% elsif your_status.status == 2 %>
    <h4>申請が未承認です。</h4>
  <% end %>
<% else %>
  <h4>あなたはこのお墓に入る権限がないです。</h4>
  <%= link_to "お墓訪問者登録申請", relationships_path(topic_id: @topic.id, user_id: current_user.id), method: :post,  class: "btn btn-primary" %>
<% end %>
