<div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-12">
      <h1><%= @topic.topic_name %></p>

      <%= image_tag @topic.topic_image %>
      <div id="mile_thanks"></div>

      <h4><%= simple_format(@topic.topic_bio) %></h4>




      <%= link_to "お墓参りをする", miles_path(topic_id: @topic.id), method: :post, class: "btn btn-primary center-block", id: "mile_btn" %>


      <% if !@miles.nil? %>
        <% @miles.each do |mile| %>
          <p><%= mile.created_at.to_s %><br><%= mile.user.name %>さんがお墓参りをしました。</p>
        <% end %>
      <% end %>
      <p><%= link_to "過去のお墓参りを全て見る", miles_path(id: @topic.id), method: :get %></p>
      <hr>




    <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#modal-sample">
      記帳をする
    </button>

    <div class="modal" id="modal-sample" tabindex="-1">
      <div class="modal-dialog">

        <!-- 3.モーダルのコンテンツ -->
        <div class="modal-content">
            <!-- 4.モーダルのヘッダ -->
            <div class="modal-header">
                <!-- <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button> -->
                <h4 class="modal-title" id="modal-label">記帳をする</h4>
            </div>
            <!-- 5.モーダルのボディ -->
            <div class="modal-body">
                <%= form_for @comment do |f| %>
                  <%= f.label :contents, " 記帳" %>
                  <%= f.text_area :contents, class: 'form-control' %>
                  <%= hidden_field_tag(:id, params[:id]) %>
                  <%= f.submit "投稿", class: "btn btn-primary " %>
                  <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>

                <% end %>
            </div>
            <!-- 6.モーダルのフッタ -->

        </div>
      </div>
    </div>








      <% if @comments.any? %>
        <% @comments.each do |comment| %>
          <hr>
          <p><%= comment.user.name %>さんの記帳  （ 記帳日時：<%= comment.created_at.to_s %> ）</p>
          <p><%= simple_format(comment.contents) %></p>
          <% if comment.user_id == current_user.id %>
            <p><%= link_to "コメントを削除する", comment_path(comment), method: :delete %></p>
          <% end %>
        <% end %>
        <p><%= link_to "過去の記帳を全て見る", comment_path(id: @topic.id) %></p>
      <% else %>
        <p>まだ記帳がありません。</p>
      <% end %>

      <hr>
      <p>墓を探すID：<%= @topic.topic_search_id %></p>
      <p>このお墓の管理者：<%= link_to @owner.name, user_path(@owner) %></p>
    </div>

    <!-- <div id="pos" style="position:fixed; right:5px; bottom:5px;"></div> -->
    <div id="back-to-top" style="position:fixed; right: 20px; bottom: 20px;">
      <h4><a href="#" style="background:black; color: white; font-weight:bold;">△このページのトップへ△</a></h4>
    </div>
</div>

<script>
  (function() {
    'use strict';
    var mile_thanks = document.getElementById('mile_thanks');
    var mile_btn = document.getElementById('mile_btn');
    var timerId;


    mile_btn.addEventListener('click', function() {
      timerId = setTimeout(closeMileThanks, 5000);
      mile_thanks.classList.add('mile_complete');
      mile_thanks.textContent = "〜〜お参りありがとう〜〜";
      window.scrollTo(0, 180);
    });

    function closeMileThanks() {
      mile_thanks.classList.remove('mile_complete');
      mile_thanks.textContent = "";
    }

  })();


    $(function() {

      //#back-to-top
      $('#back-to-top').hide();

      //スクロールが十分にされる＝back-to-topを表示、、、スクロールが戻ったら非表示
      $(window).scroll(function() {
        $('#pos').text($(this).scrollTop());
        if ($(this).scrollTop() > 60) {
          $('#back-to-top').fadeIn(500);
        } else {
          $('#back-to-top').fadeOut(500);
        }
      });

      // //back-to-topがクリックされたら上に戻る。
      $('#back-to-top').click(function() {
        $('html', 'body').animate({
          scrollTop:400
        }, 1000);
        // return false;
      });




    });


</script>
