<div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-12">
      <h1><%= @topic.topic_name %></p>
      <%= image_tag @topic.topic_image %>
      <h4><%= simple_format(@topic.topic_bio) %></h4>

      <%= link_to "お墓参りをする", miles_path(topic_id: @topic.id), method: :post, class: "btn btn-primary center-block" %>


      <% if !@miles.nil? %>
        <% @miles.each do |mile| %>
          <p><%= mile.created_at.to_s %><br><%= mile.user.name %>さんがお墓参りをしました。</p>
        <% end %>
      <% end %>
      <p><%= link_to "過去のお墓参りを全て見る", miles_path(id: @topic.id), method: :get %></p>
      <hr>


      <%#= link_to "記帳をする", new_comment_path(id: @topic.id), class: "btn btn-primary  center-block" %><br>


    <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#modal-sample">
      記帳をする
    </button>

    <div class="modal" id="modal-sample" tabindex="-1">
      <div class="modal-dialog">

        <!-- 3.モーダルのコンテンツ -->
        <div class="modal-content">
            <!-- 4.モーダルのヘッダ -->
            <div class="modal-header">
                <!-- <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button> -->
                <h4 class="modal-title" id="modal-label">記帳をする</h4>
            </div>
            <!-- 5.モーダルのボディ -->
            <div class="modal-body">
                <%= form_for @comment do |f| %>
                  <%= f.label :contents, " 記帳" %>
                  <%= f.text_area :contents, class: 'form-control' %>
                  <%= hidden_field_tag(:id, params[:id]) %>
                  <%= f.submit "投稿", class: "btn btn-primary " %>
                  <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>

                <% end %>
            </div>
            <!-- 6.モーダルのフッタ -->

        </div>
      </div>
    </div>








      <% if @comments.any? %>
        <% @comments.each do |comment| %>
          <hr>
          <p><%= comment.user.name %>さんの記帳  （ 記帳日時：<%= comment.created_at.to_s %> ）</p>
          <p><%= simple_format(comment.contents) %></p>
        <% end %>
        <p><%= link_to "過去の記帳を全て見る", comment_path(id: @topic.id) %></p>
      <% else %>
        <p>まだ記帳がありません。</p>
      <% end %>

      <hr>
      <p>墓を探すID：<%= @topic.topic_search_id %></p>
      <p>このお墓の管理者：<%= link_to @owner.name, user_path(@owner) %></p>
    </div>

</div>
